.radio{
    width: 50%;
    height: 40px;
}

.comments{
    border:1px solid black;
    width: 80%;
    margin-left: 40px;
    margin-top: 10px;
}

.lista_tipo{
    margin-left: 90px;
}

.lista_precio{
    margin-left: 72px;
}

.item_visited{
    margin-top: 10px;
    margin-left: 120px;
}

.visited{
    margin-left: 10px;
}

.error{
    color: red;
    display: none;
}

.item_favorite{
    margin-top: 10px;
    margin-left: 120px;
}

.favorite{
    margin-left: 10px;
}