.logout{
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

.title{
    float: left;
    margin-left: 20px;
}

.search{
    float: left;
    margin-left: 40px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.list_visited{
    width: 100%;
    margin-left: 105px;
    font-size: 20px;
    color: black;
}

.divider{
    margin-top: 10px;
}


.item_favorite{
    margin-top: 10px;
}

.favorite{
    margin-left: 10px;
}
