h1{
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 30px;
  }
  
  img{
    margin-left: 45px;
  }

  #boton_login{
    margin-left: 140px;
  }

  #boton_register{
    border: 1px solid blue;
    margin-top: 40px;
    margin-left: 120px;
  }

  #boton_google{
    margin-top: 40px;
    margin-left: 75px;
  }

  #boton_facebook{
    margin-top: 20px;
    margin-left: 75px;
  }